h1 {
	color: black;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: bold;
}
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic,cyrillic-ext');

.namesurnamecontainer {
	background-color: black;
	height: 50px;
	width: 100%
}

.myname {
	font-family: 'Yeseva One', cursive;
	font-size: 80px;
	color: black;
	text-shadow: 5px -5px 15px white;
	text-align: center;

}

.imagecontainernow {
	width: auto;
	height: 700px;
	background-image: url(../img/now.gif);
	background-size: contain;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top;
}

.imagecontainerpast {
	width: auto;
	height: 700px;
	background-image: url(../img/past.jpg);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top;
}

.imagecontainerfuture {
	width: auto;
	height: 700px;
	background-image: url(../img/future.gif);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top;
}

.menu {
	background-color: black;
	height: 100px;
	position: relative;
	 
}

.menucontainer {    
position: absolute;         
top: 50%;                      
transform: translate(0, -50%);
}

.link { font-family: 'Rubik', sans-serif;
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
color: gray;
margin-left: 20px;
}

.link:hover { font-family: 'Rubik', sans-serif;
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
color: white;
margin-left: 20px;
}

.textheading {
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	margin: 100px 0px 20px 20px;

}

.plaintext {font-family: 'Rubik', sans-serif;
font-size: 20px;
margin: 0px 50px 100px 20px;
line-height: 26px }

.footercontainer{
	height: 200px;
	width: 100%;
	background-color: black;
}

.logo{
	height: 150px;
	background-image: url(../img/Kot.png);
	background-size: contain;
}
.logo:hover{
	height: 150px;
	background-image: url(../img/Kotm.png);
	background-size: contain;
}


















